@import 'normalize';
body {
  display: flex;
  flex-flow: row wrap;
}
.body-header, .body-footer {
  width: 100%;
  padding: 0 2%;
  background-color: #ffee99;
}
#main {
  flex: 5 1 0;
  width: 100%;
  padding: 0 2%;
  background-color: #ffcccc;
}
.body-nav, .body-aside {
  flex: 1 1 0;
  width: 100%;
  padding: 0 2%;
  background-color: #ccffff;
}